@{
    ViewData["Title"] = "Privacy Policy | AgriYoth";
}


<section class="landing-hero h-25">
    <div class="landing-info-one">
        <div class="container">
            <div class="row">
                <div class="col-md-6 h-25">
                    <h1 class="fs-1 fw-bold"><strong>Privacy Policy</strong></h1>
                    <p>
                        <a asp-action="Index" asp-controller="Home">Home </a>/ Privacy
                    </p>
                </div>
                <div class="col-md-6 d-none d-sm-block">

                    <img src="~/Img/3D/Saly-21.png" class="position-absolute mt-lg-n5" alt="Jupiter">
                </div>

            </div>
        </div>
    </div>
</section>
<section class="text-white text-center landing-feature landing-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Privacy Policy of Agriyoth hub</h1>
                <p>
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                    lorem lorem
                </p>
            </div>

            <div class="col-md-6 d-flex d-none d-sm-block">
                <img src="~/Img/3D/Saly-33.png" class="h-75" alt="Jupiter">
            </div>
        </div>

        <section class="landing-hero text-center text-white mt-lg-n5">
            <div class="container">

                <h1 class="mt-4">Privacy Policy</h1>


                <div class="contanier">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="landing-feature-item shadow-lg border-0">
                                <h4 class="mt-4">Introduction</h4>
                                <p>Thank you for using our website ("Website"). This Privacy Policy outlines how we collect, use, store, and disclose information obtained from users of the Website. By accessing and using our Website, you agree to the terms of this Privacy Policy.</p>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="landing-feature-item shadow-lg border-0">

                                <ul>
                                    <li>
                                        <strong>Personal Information:</strong>
                                        <p>We may collect personal information from users, including but not limited to their name, contact information, educational background, work experience, and any other relevant information provided voluntarily. This information is collected when users register on the Website, complete forms, upload documents, or interact with our services.</p>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container mt-lg-5">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mt-4">Information Collection and Use</h4>
                    </div>
                    <div class="container mt-lg-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="landing-feature-item shadow-lg border-0">
                                    <ul>
                                        <li>
                                            <strong>User Histories:</strong>
                                            <p>As part of the e-learning and job seeker functionalities, we may store user histories, including course progress, certificates earned, job applications submitted, and interactions with farmers or volunteers. These histories are used to personalize user experiences, track progress, and provide relevant recommendations and assistance.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="landing-feature-item shadow-lg border-0">
                                    <ul>
                                        <li>
                                            <strong>Usage Data:</strong>
                                            <p>We may collect non-personal information about users' interactions with the Website, such as IP addresses, browser information, device type, and pages visited. This data is used to analyze trends, administer the Website, and improve our services.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mt-4">Use of Information</h4>
                    </div>
                    <div class="container mt-lg-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="landing-feature-item shadow-lg border-0">
                                    <ul>
                                        <li>
                                            <strong>Providing Services:</strong>
                                            <p>We use the collected information to provide and improve our services, including e-learning courses, job seeker functionalities, and connecting volunteers with farmers. User histories and personal information are used to personalize experiences and facilitate relevant interactions.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="landing-feature-item shadow-lg border-0">
                                    <ul>
                                        <li>
                                            <strong>Communication:</strong>
                                            <p>We may use users' contact information to communicate updates, respond to inquiries, provide support, or deliver important notices related to their use of the Website.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="landing-feature-item shadow-lg border-0">
                                    <ul>
                                        <li>
                                            <strong>Aggregated Data:</strong>
                                            <p>We may anonymize and aggregate user data to generate statistical or analytical insights. Such aggregated data is used to understand trends, evaluate the effectiveness of our services, and improve the Website.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="landing-feature-item shadow-lg border-0">
                                    <img src="~/Img/3d/Saly-26.png" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h4 class="mt-4">Data Sharing and Disclosure</h4>
                    </div>
                    <div class="container mt-lg-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="landing-feature-item shadow-lg border-0">
                                    <ul>
                                        <li>
                                            <strong>Third-Party Service Providers:</strong>
                                            <p>We may engage trusted third-party service providers to assist us in delivering our services. These providers may have access to users' personal information to perform tasks on our behalf, but they are obligated to maintain confidentiality and are prohibited from using the information for any other purpose.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="landing-feature-item shadow-lg border-0">
                                    <ul>
                                        <li>
                                            <strong>Legal Compliance:</strong>
                                            <p>We may disclose personal information if required to do so by law or in response to valid legal requests, such as court orders or government regulations.</p>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <section class="landing-feature mt-lg-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="landing-feature-item border-0 shadow-lg">
                                    <h4 class="mt-4">Data Security</h4>
                                    <p>We implement reasonable security measures to protect the confidentiality, integrity, and availability of user information. However, no method of transmission or electronic storage is completely secure, and we cannot guarantee absolute security.</p>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="landing-feature-item border-0 shadow-lg">
                                    <h4 class="mt-4">User Rights</h4>
                                    <p>Users have the right to access, update, correct, or delete their personal information. They can also request the restriction of processing or object to the processing of their data. To exercise these rights or inquire about their personal information, users may contact us using the information provided below.</p>

                                </div>
                            </div>
                        </div>

                        <div class="row mt-lg-5">
                            <div class="col-md-6">
                                <div class="landing-feature-item border-0 shadow-lg">
                                    <h4 class="mt-4">Third-Party Links</h4>
                                    <p>Our Website may contain links to third-party websites or resources. We are not responsible for the privacy practices or content of those third-party sites. We encourage users to review the privacy policies of external websites they visit through our links.</p>

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="landing-feature-item border-0 shadow-lg">

                                    <h4 class="mt-4">Updates to the Privacy Policy</h4>
                                    <p>This Privacy Policy maybe updated periodically to reflect changes in our practices or legal requirements. We will notify users of any material changes by posting the updated policy on the Website or through other communication channels.</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-12 text-center">
                                <h4 class="mt-4">Contact Us</h4>
                                <p>If you have any questions, concerns, or requests regarding this Privacy Policy or the handling of your personal information, please contact us at:</p>
                                <p>
                                    Email: Agriyoth Hub
                                    gmail.com
                                </p>
                                <p>Phone: +251943878651</p>
                                <p>Address: Ethiochina street Insa</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="landing-start d-flex justify-content-center">
                                <div class="col-md-6">
                                    <div class="form-access my-auto">
                                        <form>
                                            <span>Contact Us</span>
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Name">
                                            </div>

                                            <div class="form-group">
                                                <input type="email" class="form-control" placeholder="Email">
                                            </div>

                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Subject">
                                            </div>
                                            <div class="form-group">
                                                <textarea rows="4" class="form-control fixed-height-textarea" style="resize: none;" placeholder="Text ....."></textarea>
                                            </div>
                                            <button type="submit" class="btn btn-primary" id="create">Subscribe</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
