@{
    ViewBag.title = "Benificial Person | AgriYoth Hub";
    ViewBag.text = "Beneifical person";
    ViewBag.des = "loremlorem loremlorem loremlorem loremlorem";

}

<section class="landing-hero h-25">
    <div class="landing-info-one">
        <div class="container">
            <div class="row">
                <div class="col-md-6 h-25">
                    <h1 class="fs-1 fw-bold"><strong>Beneficial Person</strong></h1>
                    <p>
                        <a asp-action="Index" asp-controller="Home">Home </a>/ @ViewBag.text
                    </p>
                </div>


            </div>
        </div>
    </div>
</section>

<section class="landing-feature landing-start">
    <div class="landing-info-one">
        <div class="text-center mb-5">
            <h1>@ViewBag.text</h1>
        </div>
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <div class="rounded-3 h-75">
                        <img src="~/Img/3D/Saly-19.png" class="rounded-3 shadow-lg" />
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="landing-hero">
                        <div class="mCS-inset-2-dark">
                            <h1>volentters</h1>
                        </div>
                        <div class="landing-sub-content">
                            <p>
                                @ViewBag.des
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="landing-feature landing-start">
    <div class="landing-hero">
        <h1>Requirements</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-dark rounded-3">
                    <div class="card-body">
                        <div class="card-img rounded-pill">
                            <img src="~/Img/3d/Saly-12.png" class="img-fluid" />
                        </div>

                        <div class="card-title mt-3">
                            <h3>Change your Life</h3>
                        </div>

                        <p>
                            lorem lorem lorem lorem lorem lorem lorem
                            lorem lorem lorem lorem lorem lorem lorem
                            lorem lorem lorem lorem lorem lorem lorem
                        </p>
                        <a asp-action="" asp-controller="" class="btn-2">read more</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark rounded-3">
                    <div class="card-body">
                        <div class="card-img rounded-pill">
                            <img src="~/Img/3d/Saly-1.png" class="img-fluid" />
                        </div>

                        <div class="card-title mt-3">
                            <h3>Change your Life</h3>
                        </div>

                        <p>
                            lorem lorem lorem lorem lorem lorem lorem
                            lorem lorem lorem lorem lorem lorem lorem
                            lorem lorem lorem lorem lorem lorem lorem
                        </p>
                        <a asp-action="" asp-controller="" class="btn-2">read more</a>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-dark rounded-3">
                    <div class="card-body">
                        <div class="card-img rounded-pill">
                            <img src="~/Img/3d/Saly-1.png" class="img-fluid" />
                        </div>

                        <div class="card-title mt-3">
                            <h3>Change your Life</h3>
                        </div>

                        <p>
                            lorem lorem lorem lorem lorem lorem lorem
                            lorem lorem lorem lorem lorem lorem lorem
                            lorem lorem lorem lorem lorem lorem lorem
                        </p>
                        <a asp-action="" asp-controller="" class="btn-2">read more</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="landing-hero">

        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card bg-dark rounded-3">
                        <div class="card-body">
                            <div class="card-img rounded-pill">
                                <img src="~/Img/3d/Saly-12.png" class="img-fluid" />
                            </div>

                            <div class="card-title mt-3">
                                <h3>Change your Life</h3>
                            </div>

                            <p>
                                lorem lorem lorem lorem lorem lorem lorem
                                lorem lorem lorem lorem lorem lorem lorem
                                lorem lorem lorem lorem lorem lorem lorem
                            </p>
                            <a asp-action="" asp-controller="" class="btn-2">read more</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark rounded-3">
                        <div class="card-body">
                            <div class="card-img rounded-pill">
                                <img src="~/Img/3d/Saly-1.png" class="img-fluid" />
                            </div>

                            <div class="card-title mt-3">
                                <h3>Change your Life</h3>
                            </div>

                            <p>
                                lorem lorem lorem lorem lorem lorem lorem
                                lorem lorem lorem lorem lorem lorem lorem
                                lorem lorem lorem lorem lorem lorem lorem
                            </p>
                            <a asp-action="" asp-controller="" class="btn-2">read more</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card bg-dark rounded-3">
                        <div class="card-body">
                            <div class="card-img rounded-pill">
                                <img src="~/Img/3d/Saly-1.png" class="img-fluid" />
                            </div>

                            <div class="card-title mt-3">
                                <h3>Change your Life</h3>
                            </div>

                            <p>
                                lorem lorem lorem lorem lorem lorem lorem
                                lorem lorem lorem lorem lorem lorem lorem
                                lorem lorem lorem lorem lorem lorem lorem
                            </p>
                            <a asp-action="" asp-controller="" class="btn-2">read more</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
