@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Forogt Password | AgriYoth Hub";
}



<div class="vh-80 d-flex justify-content-center">
    <div class="form-access my-auto">
        <form>
            <span>Reset Password</span>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email Address">
            </div>
            <button type="submit" class="btn btn-primary" id="create" onclick="createAccount()">Send Reset Link</button>
        </form>
        <h2>Remembered your password? <a asp-controller="Home" asp-action="Signin">Sign in here</a></h2>
    </div>
</div>