@{
    ViewData["Title"] = "Home | AgriYoth";
}
<br />
<br />
<section class="landing-hero">
    <div class="landing-info-one mtb100">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <h1 class="fs-1 fw-bold"><strong>Welcome to AgriYoth Hub online Platform.</strong></h1>
                    <p>
                        AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                        AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                        AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                        AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                    </p>

                    <div class="mt-5">
                        <a class="btn-1" asp-controller="home" asp-action="signin">Sign In</a>
                        <a class="btn-2" asp-controller="home" asp-action="signup">Get Started</a>
                    </div>
                </div>
                <div class="col-md-6 mt-lg-n5">
                    <img src="~/img/3d/Saly-44.png" alt="3D Model" />
                </div>
            </div>
        </div>
    </div>

</section>



<section class="text-center text-white mt-lg-5">
    <h1><strong><i>Our Services</i></strong></h1>

    <div class="landing-feature landing-start">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="landing-feature-item shadow-lg">
                        <img src="~/img/3d/Saly-1.png" alt="">
                        <span>1</span>
                        <h3>Farmer Helper</h3>
                        <p>
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                        </p>

                        <a class="btn-1 text-white" asp-controller="" asp-action="">Read More</a>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="landing-feature-item shadow-lg">
                        <img src="~/img/3d/Saly-10.png" alt="">
                        <span>
                            2
                        </span>
                        <h3>Elearning System</h3>
                        <p>
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                        </p>

                        <a class="btn-1 text-white" asp-controller="" asp-action="">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="landing-feature-item shadow-lg">
                        <img src="~/img/3d/Saly-11.png" alt="">
                        <span>3</span>
                        <h3>Work Foundation</h3>
                        <p>
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                        </p>

                        <a class="btn-1 text-white" asp-controller="" asp-action="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <br /><br /><br />
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="landing-feature-item shadow-lg">
                        <img src="~/img/3d/Saly-12.png" alt="">
                        <span>4</span>
                        <h3>African News</h3>
                        <p>
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                        </p>

                        <a class="btn-1 text-white" asp-controller="" asp-action="">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="landing-feature-item shadow-lg">
                        <img src="~/img/3d/Saly-13.png" alt="">
                        <span>
                            5
                        </span>
                        <h3></h3>
                        <p>
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                        </p>

                        <a class="btn-1 text-white" asp-controller="" asp-action="">Read More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="landing-feature-item text-white shadow-lg">
                        <img src="~/img/3d/Saly-14.png" alt="">
                        <span>6</span>
                        <h3>...</h3>
                        <p>
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                            AgriYoth Hub is an online platform it have many futures and solution in all African Countries
                        </p>

                        <a class="btn-1 text-white shadow-lg" asp-controller="" asp-action="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="landing-start text-center text-white mt-lg-5">
    <h1><strong><i>Our Solutions</i></strong></h1>
    <div class="landing-feature landing-start">
        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <img src="~/Img/3D/Saly-11.png" class="shadow-lg rounded-3" />
                </div>
                <div class="col-md-6 mt-lg-5">
                    <div class="fw-bold">
                        <h1 class="mt-lg-5">Elearning and Freelancing</h1>
                        <p>
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                        </p>
                        <button class="btn-1 mt-4">Learn more</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row ">
                <div class="col-md-6 mt-lg-5">

                    <div class="fw-bold">
                        <h1 class="mt-lg-5">Charty platform</h1>
                        <p>
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                        </p>
                        <button class="btn-1 mt-4">Learn more</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="~/Img/3D/Saly-34.png" class="shadow-lg rounded-3" />
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row ">
                <div class="col-md-6">
                    <img src="~/Img/3D/Saly-23.png" class="shadow-lg rounded-3" />
                </div>
                <div class="col-md-6 mt-lg-5">
                    <div class="fw-bold">
                        <h1 class="mt-lg-5">Change your Life</h1>
                        <p>
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                            Make money with our Sister pablo scobar
                        </p>
                        <button class="btn-1 mt-4">Learn more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="text-center text-white mt-lg-5">
    <h1>Our Products</h1>
    <div class="landing-feature landing-start">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="shadow-lg rounded-3">
                        <video autoplay loop class="w-75 h-75 shadow-lg rounded-3">
                            <source src="~/video/chart-big.bf1783e43b541a0013bb.webm" />
                        </video>
                    </div>
                </div>
                <div class="col-md-6">
                    <h1>yonas</h1>
                    <p>
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf
                        vvnrhrogdhbhtrfuohgjbnfiolhjnhtoigbkjlmhtglkf

                    </p>
                    <button class="btn-1 mt-4">
                        Learn more
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="text-center text-white mt-lg-5">
    <h1><i><strong>Testimonial</strong></i></h1>

    <div class="landing-feature landing-start">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="testimonial-item">
                                    <img src="~/Img/andre-francois-mckenzie-iGYiBhdNTpE-unsplash.jpg" alt="Author Image 1" class="testimonial-img">
                                    <h1><strong>John Doe</strong></h1>
                                    <blockquote>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lobortis nisi.</p>
                                    </blockquote>

                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="testimonial-item">
                                    <img src="~/Img/kanchanara-5ixVD22x22o-unsplash.jpg" alt="Author Image 2" class="testimonial-img">
                                    <h1><strong>Jane Smith</strong></h1>
                                    <blockquote>

                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lobortis nisi.

                                    </blockquote>

                                </div>
                            </div>


                            <div class="carousel-item">
                                <div class="testimonial-item">
                                    <img src="~/Img/kanchanara-jpsocjU9R7s-unsplash.jpg" alt="Author Image 2" class="testimonial-img">
                                    <h1><strong>Jane Smith</strong></h1>
                                    <blockquote>

                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lobortis nisi.

                                    </blockquote>

                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="testimonial-item">
                                    <img src="~/Img/dmitry-demidko-OG3A-ilG8AY-unsplash.jpg" alt="Author Image 2" class="testimonial-img">
                                    <h1><strong>Jane Smith</strong></h1>
                                    <blockquote>

                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut lobortis nisi.

                                    </blockquote>

                                </div>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#testimonial-carousel').carousel();
    });
</script>


<section class="text-center text-white mt-lg-5">
    <h1><i><strong>Subscribe</strong></i></h1>

    <div class="landing-feature landing-start vh-80 d-flex justify-content-center">


        <div class="form-access my-auto">
            <form>
                <span>Subscribe</span>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Your Name">
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email Address">
                </div>
                <div class="form-check gap-5" role="group" aria-label="User Roles">
                    <input type="radio" class="btn-check" name="user-role" id="job-seeker" autocomplete="off" checked>
                    <label class="form-label" for="job-seeker">Job seeker</label>

                    <input type="radio" class="btn-check" name="user-role" id="farmer" autocomplete="off">
                    <label class="form-label" for="farmer">Farmer</label>

                    <input type="radio" class="btn-check" name="user-role" id="volunteer" autocomplete="off">
                    <label class="form-label" for="volunteer">Volunteer</label>
                </div>
                <button type="submit" class="btn btn-primary" id="create" onclick="createAccount()">Subscribe</button>
            </form>
        </div>
    </div>

</section>
<br />

<section class="text-center text-white mt-lg-5">
    <h1><i><strong>Contact Us</strong></i></h1>
    <div class="landing-feature landing-start vh-80 d-flex justify-content-center">
        <div class="col-md-6">
            <div class="form-access my-auto">
                <form>
                    <span>Contact Us</span>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Name">
                    </div>

                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea rows="4" class="form-control fixed-height-textarea" style="resize: none;" placeholder="Text ....."></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" id="create">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</section>
<br />
<br />
<br />
<br />
<br />
<br />