@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "ContactUs | AgriYoth Hub";
}


<section class="landing-hero h-25">
    <div class="landing-info-one">
        <div class="container">
            <div class="row">
                <div class="col-12 h-25">
                    <h1 class="fs-1 fw-bold"><strong>Contact Us</strong></h1>
                    <p>
                        <a asp-action="Index" asp-controller="Home">Home </a>/ Contact Us
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="landing-feature landing-start">
    <h1>Contact Us</h1>

    <div class="form-access">
        <form>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enater your name" />
                        </div>
                    </div>
                    <div class="col-md-6 mt-2">
                        <div class="input-group">
                            <input class="form-control" type="email" placeholder="Enater your email" />
                        </div>
                    </div>

                    <div class="col-md-12 mt-4">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="subject" />
                        </div>
                    </div>

                    <div class="col-md-12 mt-4">
                        <div class="input-group">
                            <textarea class="form-control " style="resize: none; height: 200px;" type="text" placeholder="Enter your Idea"></textarea>
                        </div>
                    </div>

                    <div class="col-md-12 mt-4">
                        <div class="input-group">
                            <button class="btn-2" type="submit">Send</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>


<section class="landing-hero text-center">
    <h1>Our map</h1>
    <div class="landing-start landing-feature">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d935.1744656291222!2d38.7697584571345!3d8.988934695218907!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b8690c0ca2e77%3A0x595b8217dd8f9bb6!2sInformation%20Network%20Security%20Agency!5e1!3m2!1sen!2set!4v1692464996447!5m2!1sen!2set" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</section>