@{
    ViewBag.Title = "About | AgriYoth Hub";
}

<section class="landing-hero h-25">
    <div class="landing-info-one">
        <div class="container">
            <div class="row">
                <div class="col-12 h-25">
                    <h1 class="fs-1 fw-bold"><strong>About Us</strong></h1>
                    <p>
                        <a asp-action="Index" asp-controller="Home">Home </a>/ About
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="text-center text-white landing-feature landing-start mb-lg-n5">
    <div class="landing-info-one">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="~/Img/3D/saly-44.png" class="d-flex" />
                </div>
                <div class="col-md-6">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">About Us</div>
                    <h1>
                        "AgriYoth Hub Online Platform"
                    </h1>
                    <p>
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                        "AgriYoth Hub Online Platform"
                    </p>
                    <div class="row gap-3 d-flex">
                        <a class="btn-2 rounded-3" asp-controller="" asp-action="">Read More</a>
                        <ul class="social-icon d-flex ml-4 fs-1">
                            <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center text-white landing-feature landing-start mb-lg-n5">
    <div class="container-fluid feature pt-5">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Our Services</div>
                    <h1 class="text-white mb-4">Choose our student activity service and take your skills to the next level!</h1>
                    <p class="text-light mb-4">Refine hacking skills safely, enhance coding abilities, and compete on score board with us.</p>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span>Our Ethical Hacking course offers a safe and controlled environment for you to refine your skills on dedicated virtual machines.</span>
                    </div>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span>Our Coding course provides a dedicated practice area for you to develop and enhance your coding skills.</span>
                    </div>
                    <div class="d-flex align-items-center text-white mb-3">
                        <div class="btn-sm-square bg-white text-primary rounded-circle me-3">
                            <i class="fa fa-check"></i>
                        </div>
                        <span>Our competitive score board allows you to track your progress and compete with your peers, creating a fun and collaborative learning experience.</span>
                    </div>
                    <div class="row g-4 pt-3">
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-home fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                    <p class="text-white mb-0">Happy Student</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="d-flex rounded p-3" style="background: rgba(256, 256, 256, 0.1);">
                                <i class="fa fa-home fa-3x text-white"></i>
                                <div class="ms-3">
                                    <h2 class="text-white mb-0" data-toggle="counter-up">9999</h2>
                                    <p class="text-white mb-0">Project Available</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 align-self-end text-center text-md-end wow fadeIn" data-wow-delay="0.5s">
                    <img src="~/Img/3D/Saly-22.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="text-center text-white landing-feature landing-start mb-lg-n5">
    <div class="container-fluid feature pt-5">
        <div class="container pt-5">
            <div class="row g-5">
                <div class="col-lg-6 align-self-center mb-md-5 pb-md-5 wow fadeIn" data-wow-delay="0.3s">
                    <div class="btn btn-sm border rounded-pill text-white px-3 mb-3">Contact Us</div>
                    <div class="form-acsess input-group">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Enter Your Email" aria-label="Enter Your Email"
                                   aria-describedby="button-addon2">
                        </div>
                        <div class="input-group-append form-group">
                            <button class="btn btn-primary" type="button" id="button-addon2">Get Started</button>
                        </div>
                    </div>
                    <div class="text-center">
                        <p>
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                            Get Started
                        </p>
                    </div>
                </div>

                <div class="col-sm-6 border-danger">
                    <img src="~/Img/3d/saly-44.png" />
                </div>
            </div>
        </div>
    </div>
</section>

