@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Blog | AgriYoth Hub";
}

<section class="landing-hero h-25">
    <div class="landing-info-one">
        <div class="container">
            <div class="row">
                <div class="col-12 h-25">
                    <h1 class="fs-1 fw-bold"><strong>Our Blog</strong></h1>
                    <p>
                        <a asp-action="Index" asp-controller="Home">Home </a>/ Blog
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="landing-start landing-feature">
    <div class="col-12">
        <h2>MOre about Our Platform</h2>
    </div>
    <div class="contanier">
        <div class="row">
            <div class="col-md-6">
                <div class="landing-feature landing-start">

                    <h1 class="text-info">"Change your Life"</h1>
                    <p>
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="landing-feature landing-start">

                    <h1 class="text-info">"Learn New Things"</h1>
                    <p>
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                    </p>
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="landing-feature landing-start">

                    <h1 class="text-info">"Lecturer Course"</h1>
                    <p>
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="landing-feature landing-start">
                    <h1 class="text-info">"Communicate To other"</h1>
                    <p>
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                    </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="landing-feature landing-start">

                    <h1 class="text-info">"Self Confidence"</h1>
                    <p>
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="landing-feature landing-start">
                    <h1 class="text-info">"More Ability "</h1>
                    <p>
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                        lorem lorem lorem lorem lorem lorem lorem
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="landing-start landing-feature">
    <div class="title">
        <h1>Contact us</h1>

    </div>

    <div class="contanier mt-5">
        <div class="row">
            <div class="col-md-6">
                <h1>Can i give Idea for you?</h1>
                <p>Yes, you can Give any idea </p>
                <div class="img-circle d-none d-sm-block">
                    <img src="~/Img/3D/Saly-19.png" class="anima img-fluid" style="height: 400px; margin-right:17%;" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-access">
                    <form>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="Enater your name" />
                                    </div>
                                </div>
                                <div class="col-md-6 mt-2">
                                    <div class="input-group">
                                        <input class="form-control" type="email" placeholder="Enater your email" />
                                    </div>
                                </div>

                                <div class="col-md-12 mt-4">
                                    <div class="input-group">
                                        <input class="form-control" type="text" placeholder="subject" />
                                    </div>
                                </div>

                                <div class="col-md-12 mt-4">
                                    <div class="input-group">
                                        <textarea class="form-control " style="resize: none; height: 200px;" type="text" placeholder="Enter your Idea"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12 mt-4">
                                    <div class="input-group">
                                        <button class="btn-2" type="submit">Send</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>