@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.title = "Freelancer | AgriYoth Hub";
}


<section class="landing-hero h-25">
    <div class="landing-info-one">
        <div class="container">
            <div class="row">
                <div class="col-md-6 h-25">
                    <h1 class="fs-1 fw-bold"><strong>Freelancer</strong></h1>
                    <p>
                        <a asp-action="Index" asp-controller="Home">Home </a>/ Freelancer
                    </p>
                </div>


            </div>
        </div>
    </div>
</section>